
.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
}

.portfolio-item {
    margin-bottom: 25px;
    margin-left: 10px;
    min-width: 32%;
    min-height: 158px;
    border: 1px solid #e9e9e9;
    box-shadow: 0px 8px 19px 2px rgba(0,0,0,0.05);
    border-radius: 4px;
    transition: all 0.15s ease-out;
}
.mail-btn{
    position: absolute;
    bottom: 14px;
    right: 14px;
}
.footer {
    margin: 50px 0;
}

.btn-link{
    position: absolute;
    bottom: 14px;
    left: 14px;
}

*, *:before, *:after {
    box-sizing: border-box;
}
.chat .chat-history {
    padding: 5px 5px 5px;
    border-bottom: 2px solid white;
}
.chat .chat-history .message-data {
    margin-bottom: 15px;
}
.chat .chat-history .message-data-time {
    color: #a8aab1;
    padding-left: 6px;
}
.chat .chat-history .message {
    color: white;
    padding: 5px 5px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 5px;
    width: 60%;
    position: relative;
}
.chat .chat-history .message:after {
    content: "";
    position: absolute;
    top: -15px;
    left: 20px;
    border-width: 0 15px 15px;
    border-style: solid;
    border-color: #CCDBDC transparent;
    display: block;
    width: 0;
}
.chat .chat-history .you-message {
    background: #CCDBDC;
    color:#003366;
}
.chat .chat-history .me-message {
    background: #E9724C;
}
.chat .chat-history .me-message:after {
    border-color: #E9724C transparent;
    right: 20px;
    top: -15px;
    left: auto;
    bottom:auto;
}
.chat .chat-message {
    padding: 5px;
}
.chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
    font-size: 16px;
    color: gray;
    cursor: pointer;
}

.chat-ul li{
    list-style-type: none;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.float-right {
    float: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.you {
    color: #CCDBDC;
}

.me {
    color: #E9724C;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway",sans-serif;
    color: #003366;
}